<!--
Sources:
    Overall Layout adapted from: https://codepen.io/bradtraversy/pen/eYdMqvx
    Video Playback adapted from: https://www.fastpix.io/blog/guide-to-video-playback-in-javascript
    & https://stackoverflow.com/questions/78932696/video-autoplay-issue-on-some-mobile-devices-works-on-some-but-not-others
    Search Bar adapted from: https://www.w3schools.com/howto/howto_css_searchbar.asp
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardGameDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='searchbar.js') }}"></script>
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
    
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        
        <div class="navbar-links">
            <a href="/home" class="active">Home</a>
            <a href="/games">Games</a>
            <a href="/recommender">Recommender</a>
        </div>
        
        <!-- Search Form -->                
        <form action="/search_results" class="search-container" autocomplete="off" style="position: relative; width: 300px;">
            <input id="myInput" type="text" placeholder="Search games..." name="q" style="width: 100%;">
            <button type="submit"><i class="fas fa-search"></i></button>
            <!-- The autocomplete dropdown will be injected here by JS -->
             <img src="{{ url_for('static', filename='svg/search.svg') }}" class="search-svg-right" width="30px" height="30px" alt="Search">
        </form>
        
    </nav>

    <!-- 
        Video Background 
        Source:https://www.pexels.com/video/two-men-playing-a-board-game-2894883/
    -->
    <div class="video-container">
        <video id="background-video" autoplay loop muted playsinline preload="auto">
            <source src="{{ url_for('static', filename='game.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <!-- Text on Video -->
    <div class="content-overlay">
        <h1>Discover Your Next Adventure</h1>
        <span style="font-size:1.3em; font-weight:600; color:#f5b301;">What is BoardGameDB?</span><br>
        BoardGameDB uses data from
        <a href="https://boardgamegeek.com/" target="_blank" style="vertical-align:middle; display:inline;">
            <img src="{{ url_for('static', filename='svg/bgglogo.svg') }}" alt="Board Game Geek" style="height:2em; vertical-align:middle; display:inline;">
        </a>
        to help you discover your next board game. Effortlessly sort and filter games by players, time, mechanics, and more.<br>
        <span style="color:#bbb;">Search tags are provided by the community, and some details such as complexity may vary in accuracy.</span>
        <div class="buttons-container" style="margin-bottom: 2em;">
            <a class="button primary-button" href="/games">Explore Games</a>
            <a class="button secondary-button" href="/recommender">Recommender</a>
        </div>
    </div>
    <script>
        document.body.style.overflowY = 'hidden';
        document.body.style.overflowX = 'hidden';
    </script>
</body>
</html>

